* {
    font-size: 18px;
    font-family: Courier;
    text-align: center;
}


div {
    color: black;
    text-align: center;
}

body {
  background-image: url("Willvault.jfif);
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
}
