* {
    font-size: 18px;
    font-family: Merriweather;
    text-color: black;
    text-align: center;
}

html {
  background-image: url("download (2).jfif"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

p {
    background-color: white;
}

h1 {
    background-color: white;
}
